<div class="container margin-top">
    <form>
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label for="name">{{name}}:</label>
                    <input type="text" class="form-control" id="" placeholder="Enter Your Name" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">{{subject}}:</label>
                    <input type="text" class="form-control" id="" placeholder="Enter Your Subject" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">{{password}}:</label>
                    <input type="password" class="form-control" id="" placeholder="Enter Your Password" value="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="form-group">
                    <label for="exampleInputPassword1">{{email}}:</label>
                    <input type="email" class="form-control" id="" placeholder="Enter Your Email" value="">
                </div>
            </div>
            <div class="col-md-12">
                <div class="btn-group">
                    <a href="" class="btn btn-primary">Submit</a>
                    <a routerLink="/" class="btn btn-warning">Cancel</a>
                </div>
            </div>
        </div>
    </form>
</div>